.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    /* Set your desired cursor color */
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    /* Optional: Change the mix-blend-mode based on your design */
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out;
}

.custom-cursor.large {
    width: 40px;
    /* Set the larger cursor size */
    height: 40px;
}
