/* CustomScrollbar.css */
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
    background: rgb(32, 32, 32);
    border-radius: 10px;
}
